

.Grid {
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;

}

.Grid_image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.Grid_title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.Grid_description {
    font-size: 1rem;
    margin-bottom: 1rem;
}