

.article {
  margin: 0 auto;
  max-width: 48rem;
  padding: 2.5rem 1rem;
}

.article_h1 {
  margin-bottom: 1rem; 
  font-size: 2.25rem; 
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.article_p {
  margin-bottom: 1.5rem; 
  color: #000000; 
  text-align: center;
  font-size: 1.125rem; 
  line-height: 1.5;
  font-weight: 400;
  font-family: var(--font-inter);

}