
.Card_img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.Card_title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.Card_description{
    font-size: 1rem;
    margin-bottom: 1rem;
}

.Card {
    border-radius: 8px;
    padding: 1rem;
    transition: transform 0.2s ease;
}

.Card:hover {
    transform: scale(1.05);
}   